GitTest/.vs/GitTest/v16
Debug

*.vcxproj
*.vcxproj.filtres
*.vcxproj.user
GitTest/.vs/GitTest/v16/.suo
GitTest/.vs/GitTest/v16/Browse.VC.db
GitTest/GitTest/Debug
GitTest/Debug
GitTest/Debug/GitTest.exe
GitTest/Debug/GitTest.pdb
GitTest/GitTest/Debug/GitTest.ilk
GitTest/GitTest/Debug/GitTest.obj
GitTest/GitTest/Debug/GitTest.tlog/link.read.1.tlog
GitTest/GitTest/Debug/GitTest.tlog/link.write.1.tlog
GitTest/GitTest/Debug/vc142.idb
GitTest/GitTest/Debug/vc142.pdb
GitTest/GitTest/GitTest.cpp
GitTest/Debug/GitTest.pdb
GitTest/Debug/GitTest.exe
